<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>25950722886-5if323hlio5ihsen2rcbm90r560ls102.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25950722886-5if323hlio5ihsen2rcbm90r560ls102</string>
	<key>API_KEY</key>
	<string>AIzaSyACijd2nG4LHWhcFj5gl3ApYgaha9m3Poc</string>
	<key>GCM_SENDER_ID</key>
	<string>25950722886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VRstatus.Social-Network</string>
	<key>PROJECT_ID</key>
	<string>social-network-9559f</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-9559f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:25950722886:ios:69857da709f80bb2</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-9559f.firebaseio.com</string>
</dict>
</plist>